@import 'react-phone-number-input/style.css';
:root {
--PhoneInputCountryFlag-height: 15px;
--PhoneInput-color--focus: none;

}
.content-page {
    padding-top: 11vh;
    margin-top: 10vh;
}
.left-contact .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .left-contact .social-icons {
        flex-direction: row;
        width: 70vw;
    }
}
.left-contact .social-i:nth-child(1),
.left-contact .social-i:nth-child(4) {
    margin-left: 1rem;
}
.contact-title, .contact-title + p, .left-contact > div {
    display: block;
    width: fit-content;
    margin: 0 auto
}
.contact-title + p {
    color: var(--Dark);
}
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
.contact-title {
   color: var(--Dark);
   /* font-family: 'Bebas Neue', cursive; */
   font-size: 5em;
   font-weight: 900;
   background-image: linear-gradient(var(--4), var(--4));
   background-size: 100% 10px;
   background-repeat: no-repeat;
   background-position: 100% 0%;
   margin-bottom: 20px;
   transition: background-size .7s, background-position .5s, color 2s ease-in-out;
   -webkit-transition: background-size .7s, background-position .5s, color 2s ease-in-out;
   -moz-transition: background-size .7s, background-position .5s, color 2s ease-in-out;
   -ms-transition: background-size .7s, background-position .5s, color 2s ease-in-out;
   -o-transition: background-size .7s, background-position .5s, color 2s ease-in-out;
}
.contact-title:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  color: #fff;
}
.form-title {
display: block;
width: fit-content;
margin: 0 auto 30px;
color: var(--title);
}
@media (max-width: 768px) {
    .form-title {
        margin-top: 30px;
    }
    form {
        margin-bottom: 80px;
    }
}
.in-put {
background-color: transparent;
border: none;
border-bottom: 1px solid #ccc;
margin-bottom: 50px;
padding: 10px;
color: var(--Dark);
}
.in-put:focus {
    outline: none;
}
.in-put::placeholder,
.PhoneInputInput::placeholder {
    color: var(--Dark);
    opacity: 0.6;
}
.messege-area {
    padding-bottom: 100px;
}
.form-p {
    width: 50%;
}
.phone-input {
padding: 0;
}
.PhoneInputInput {
border: none;
background-color: transparent;
color: var(--Dark);
padding: 10px;
}
.PhoneInputInput:focus {
outline: none;
}
@media (max-width: 1199px) {
.form-p {
    width: 75%;
}
}
@media (max-width: 992px) {
.form-p {
    width: 90%;
}
}
@media (max-width: 768px) {
.content-page {
    text-align: center;
}
.left-contact {
    margin-bottom: 50px;
}
.left-contact .social-i:nth-child(3), .left-contact .social-i:nth-child(6) {
margin-right: 0 !important;
}
.contact-title {
    font-size: 2rem;
}
.form-title{
    font-size: 1.2rem;
}
.in-put {
    margin-bottom: 35px;
}
}
.submit {
    color: #fff;
    background-color: var(--4);
}
.submit:hover {
    color: #fff;
background-color: var(--3);
}
.contact-input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.contact_label {
    position: relative;
}
.contact_label svg {
    fill: var(--Dark);
    position: absolute;
    width: 50px;
    top: -80px;
    left: 115px;
    z-index: 100;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}
@media (max-width: 1400px) {
.contact_label svg {
    left: 90px;
}
}
@media (max-width: 1199.22px) {
.contact_label svg {
    left: 130px;
}
}
@media (max-width: 992px) {
.contact_label svg {
    left: 110px;
}
}
@media (max-width: 768px) {
.contact_label svg {
    left: 185px;
    top: -70px;
}
}
@media (max-width: 510px) {
.contact_label svg {
    left: 31vw;
    top: -70px;
}
}
@media (max-width: 400px) {
.contact_label svg {
    left: 28vw;
    top: -70px;
}
}
.contact-input:checked + .contact_label .email {
    fill: var(--Dark);
}
.contact_label .email,
.contact-input:checked + .contact_label .phone {
  fill: transparent;
}
.contact-input:checked + .contact_label .phone,
.contact-input:checked + .contact_label .email {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
