.dark_mode {
    position: absolute;
    top: 35px;
    right: 17vw;
    z-index: 9999;
}
@media (max-width: 1400px) {
.dark_mode {
  right: 21vw;
}
}
@media (max-width: 1300px) {
.dark_mode {
  right: 19vw;
}
}
@media (max-width: 1199.22px) {
.dark_mode {
  right: 24vw;
}
}
@media (max-width: 1099px) {
.dark_mode {
  right: 21vw;
}
}
@media (max-width: 992px) {
.dark_mode {
  right: 31vw;
}
}
@media (max-width: 892px) {
.dark_mode {
  right: 29vw;
}
}
@media (max-width: 768px) {
.dark_mode {
  left: 26vw;
  top: 33px;
}
}
@media (max-width: 700px) {
.dark_mode {
  left: 22vw;
}
}
@media (max-width: 650px) {
.dark_mode {
  left: 21vw;
}
}
@media (max-width: 585px) {
.dark_mode {
  left: 16vw;
}
}
@media (max-width: 450px) {
.dark_mode {
  left: 18vw;
}
}
@media (max-width: 300px) {
.dark_mode {
  left: 24vw;
}
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_label svg {
    position: absolute;
    width: 50px;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.dark_mode_label .sun,
.dark_mode_label .moon {
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.dark_mode_label {
    cursor: url(../../public/moon-curser.svg), auto;
}
.dark_mode_label .sun {
    fill: #ffcc00;
}
.dark_mode_input:checked + .dark_mode_label .moon {
    fill: #fff;
}
.dark_mode_label .moon,
.dark_mode_input:checked + .dark_mode_label .sun {
  fill: transparent;
}
.dark_mode_input:checked + .dark_mode_label .sun,
.dark_mode_input:checked + .dark_mode_label .moon {
    transform: rotate(460deg);
    -webkit-transform: rotate(460deg);
    -moz-transform: rotate(460deg);
    -ms-transform: rotate(460deg);
    -o-transform: rotate(460deg);
}
.dark_mode_input:checked + .dark_mode_label .moon {
    cursor: url(../../public/sun-curser.svg), auto;
}