:root {
  --homespan: translateX(-207%);
  --portfoliospan: translateX(-70%);;
  --aboutspan: translateX(70%);
  --contactspan: translateX(207%);
}
.navBar-cont {
  top: 0;
  left: 53%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.navBar {
  height: 10vh;
  display: flex;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: var(--Dark);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navLink:hover {
  color: var(--5);
}
.logo {
  width: 80px;
  height: 80px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.logo:hover,
.navLink:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}
.contact-btn {
  color: var(--hire-c);
  background-color: var(--hire-b);
  border-radius: 100px;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact-btn:hover {
  background-color: var(--2);
  color: var(--hire-c);
}
.navButton, .navLinksM {
  display: none;
}

@media (max-width: 768px) {
  .navLinks {
display: none;
}
  .contact-btn {
    display: none;
  }
  .logo-holder {
    margin-left: auto;
  }
.navButton {
  color: var(--altdark);
  display: inline-block;
  position: absolute;
  left: 3vw;
  top: 5px;
}
.navButton:hover {
  color: var(--nav-btn);
}
.navLinksM {
  top: 90px;
  margin: 0 auto;
  width: 90vw;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--nav-bg);
  opacity: 0.9;
  padding: 4px 20px 60px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.navLink {
  color: var(--nav-l);
}
.navLink:hover {
  color: var(--nav-l);
}
.nLM {
  transition-delay: 0.3s
}
.active {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.navLinksM > span {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #AEBDCA;
  border: 5px solid var(--navmob);
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nLM:nth-child(1).active ~ span {
  transform: var(--homespan);
  -webkit-transform: var(--homespan);
  -moz-transform: var(--homespan);
  -ms-transform: var(--homespan);
  -o-transform: var(--homespan);
}
.nLM:nth-child(2).active ~ span {
  transform: var(--portfoliospan);
  -webkit-transform: var(--portfoliospan);
  -moz-transform: var(--portfoliospan);
  -ms-transform: var(--portfoliospan);
  -o-transform: var(--portfoliospan);
}
.nLM:nth-child(3).active ~ span {
  transform: var(--aboutspan);
  -webkit-transform: var(--aboutspan);
  -moz-transform: var(--aboutspan);
  -ms-transform: var(--aboutspan);
  -o-transform: var(--aboutspan);
}
.nLM:nth-child(4).active ~ span {
  transform: var(--contactspan);
  -webkit-transform: var(--contactspan);
  -moz-transform: var(--contactspan);
  -ms-transform: var(--contactspan);
  -o-transform: var(--contactspan);
}
.active + span::before {
  content: "";
  position: absolute;
  top: 42%;
  left: -21.8px;
  width: 18px;
  height: 17px;
  background-color: var(--nav-bg);
  border-top-right-radius: 20px;
  border-top-left-radius: 5px;
  box-shadow: 4px -6px 0 0 var(--navmob);
}
.active + span::after {
  content: "";
  position: absolute;
  top: 42%;
  right: -21.8px;
  width: 18px;
  height: 17px;
  background-color: var(--nav-bg);
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  box-shadow: -4px -6px 0 0 var(--navmob);
}
.active span::before {
  content: attr(nav-title);
  position: absolute;
  font-size: 0.8rem;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
}
.closeNav {
height: 85vh;
width: 90vw;
}