.portfolioPage {
    margin-top: 35vh;
    min-height: 70vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.project-card {
  height: 300px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media(max-width: 1200px) {
  .portfolioPage {
    margin-top: 30vh;
    margin-bottom: 10vh;
  }
}
@media(max-width: 768px) {
  .portfolioPage {
    margin-top: 45vh;
  }
}
.portfolioPage:hover .project-card:not(:hover) {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.card {
  position: relative;
  width: 300px;
  height: 225px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.card:hover {
  height: 300px;
  z-index: 99999;
  transform: translateY(20%);
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 200px;
    width: 250px;
  }
  .card:hover {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}
.card .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 260px;
  top: -40%;
  left: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card .image .img {
    max-width: 100%;
    max-height: 160px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
@media (max-width: 768px) {
.card .image {
  top: -30%;
}
.card .image .img {
  max-height: 130px;
}
}
.card-title {
    color: #61677A;
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    position: relative;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
}

[data-theme="dark"] .card-title,
.card .content h3 {
    color: #61677A;
}
.card .content h3{
    color: #61677A;
    font-size: 1.5rem;
}
.card:hover .card-title {
    opacity: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.card .content {
  position: relative;
  top: -68%;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
}
@media (max-width: 768px) {
.card-title {
  top: -10%;
}
.card:hover .content {
   margin-top : 80px;
}
.card .content h3 {
  font-size: 1.1rem;
}
}
.card .content a {
    color: var(--socialI);
}
.card .content a:hover {
    color: var(--5);
}