@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../app/styles/textShaper.css';
@import '../app/styles/darkMode.css';
@import '../app/styles/porfolio.css';
@import '../app/styles/navbar.css';
@import '../app/styles/content.css';


* {
margin: 0;
padding: 0;
}
:root {
  --background: #fff;
  --Dark: #272829;
  --contact-b:#F6F4EB;
  --contact-c:#8294C4;
  --nav-l: #fff;
  --nav-h: #DBDFEA;
  --nav-bg: #61677A;
  --nav-btn: #AEBDCA;
  --altdark: #61677A;
  --title: #8294C4;
  --p-title: #749BC2;
  --text: #61677A;
  --hire-b: #61677A;
  --hire-c: #fff;
  --cv: #8294C4;
  --socialI: #61677A;
  --1: #F6F4EB;
  --2: #91C8E4;
  --3: #749BC2;
  --4: #4682A9;
  --5: #8294C4;
  --6: #ACB1D6;
  --7: #DBDFEA;
  --8 : #FFEAD2;
}
[data-theme="dark"] {
  --background: #272829;
  --Dark: #eee;
  --contact-c:#000;
  --nav-btn: #fff;
  --altdark: #AEBDCA;
  --title: #F6F4EB;
  --text: #ACB1D6;
  --hire-b: #ffffff;
  --hire-c: #000000;
  --cv: #ACB1D6;
  --socialI: #AEBDCA;
  --contact-b:#D8D9DA;
  --nav-bg: #fff;
  --nav-l: #272829;
  --nav-h: #272829;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
  margin: 0;
  line-height: inherit;
  background-color: var(--background);
}
.z-99 {
  z-index: 99;
}
.z-999 {
  z-index: 999;
}
.z-9999 {
  z-index: 9999;
}
.error-text {
  color: var(--Dark);
}
.page-title {
  font-weight: 900;
  position: absolute;
  top: 17%;
  left: 10%;
  color: var(--p-title);
}
@media (max-width: 768px) {
  .page-title {
    top: 19%;
  }
}
.p-content {
  margin-top: 25vh;
  height: fit-content;
}
.landing-content h1 {
  font-size: 4rem;
  width: fit-content;
  display: inline-block;
  color: var(--altdark);
}
.landing-content h1 span {
  font-weight: bold;
  color: var(--title);
}
.landing-content .text {
  color: var(--text);
  font-size: 2rem;
}
.hire-btn, .resume {
  border-radius: 50px;
  transition: 0.4s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.hire-btn:hover, .resume:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.hire-btn {
  background-color: var(--hire-b);
  color: var(--hire-c);
}
.resume {
  background-color: var(--cv);
  color: var(--hire-c);
}
.hire-btn:hover {
  background-color: var(--2);
}
.resume:hover {
  background-color: var(--2);
}
.social-i {
  color: var(--socialI);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.social-i:hover {
  color: var(--5);
  transform: scale(1.2, 1.2) rotate(-3deg);
  -webkit-transform: scale(1.2, 1.2) rotate(-3deg);
  -moz-transform: scale(1.2, 1.2) rotate(-3deg);
  -ms-transform: scale(1.2, 1.2) rotate(-3deg);
  -o-transform: scale(1.2, 1.2) rotate(-3deg);
}
@media (max-width: 1400px) {
.landing-content h1 {
  font-size: 3.5rem;
}
}
@media (max-width: 1200px) {
.landing-content h1 {
  font-size: 3rem;
}
}
@media (max-width: 992px) {
.landing-content h1 span,
.landing-content .text {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 80vw;
}
.landing-content h1 span {
  font-size: 3rem;
}
.landing-content .text {
  font-size: 1.9rem;
}
}
@media (max-width: 768px) {
.p-content {
  margin-top: 20vh;
}
.landing-content h1 {
  font-size: 1.5rem;
}
.landing-content h1 span,
.landing-content .text {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 80vw;
}
.landing-content h1 span {
  font-size: 2rem;
}
.landing-content .text {
  font-size: 1.5rem;
}
.hire-btn {
  margin-top: 1.5rem;
}
.resume {
  display: block;
  width: fit-content;
  margin-left: 0 !important;
  margin-top: 1.5rem;
}
.social-icons {
  position: relative;
  top: 7vh;
  left: 0;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
}
}
@media (max-width: 450px) {
.hire-btn {
  margin-top: 0.4rem;
}
.resume {
  margin-top: 0.6rem;
}
.social-icons {
  top: -3vh;
}
}
.landing-img {
  background-image: url(../public/landing-9.png);
  background-size: cover;
  background-position: 90px -140px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.9;
}
[data-theme="dark"] .landing-img {
  background-image: url(../public/landing-1.png);
  opacity: 0.7;
}
@media (max-width: 1250px) {
.landing-img {
  background-position: 80px -60px;
}
}
@media (max-width: 992px) {
.landing-img {
  background-position: 80px -20px;
}
}
@media (max-width: 768px) {
.landing-img {
  background-position: -30px 90px;
}
}
@media (max-width: 450px) {
.landing-img {
  background-position: -70px 90px;
}
}