@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-phone-number-input/style.css';

:root {
  --PhoneInputCountryFlag-height: 15px;
  --PhoneInput-color--focus: none;
  }
html {
  scroll-behavior: smooth;
}
.dark_mode_label svg {
  @apply absolute -top-1/3 left-0 z-10;
  width: 50px;
}
.dark_mode_label {
  cursor: url(../public/moon-curser.svg), auto;
}
.dark_mode_label .sun {
  fill: #ffcc00;
}
.dark_mode_input:checked + .dark_mode_label .moon {
  fill: #fff;
}
.dark_mode_label .moon,
.dark_mode_input:checked + .dark_mode_label .sun {
  fill: transparent;
}
.dark_mode_input:checked + .dark_mode_label .sun,
.dark_mode_input:checked + .dark_mode_label .moon {
  transform: rotate(460deg);
  -webkit-transform: rotate(460deg);
  -moz-transform: rotate(460deg);
  -ms-transform: rotate(460deg);
  -o-transform: rotate(460deg);
}
.dark_mode_input:checked + .dark_mode_label .moon {
  cursor: url(../public/sun-curser.svg), auto;
}
.socialIHover {
  @apply hover:text-[#8294c4] dark:hover:text-[#8294c4] hover:-rotate-3 hover:scale-110 duration-200;
}
.landing-img {
  background-image: url(../public/landing-9.png);
  background-size: cover;
  background-position: -110px 8vh;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}
.dark .landing-img {
  background-image: url(../public/landing-1.png);
  opacity: 0.7;
}
@media (min-width: 390px) {
  .landing-img {
    background-position: -86px 8vh;
  }
}
@media (min-width: 450px) {
  .landing-img {
    background-position: -84px 110px;
  }
}
@media (min-width: 768px) {
  .landing-img {
    background-position: 0px -20px;
  }
}
@media (min-width: 1008px) {
  .landing-img {
    background-position: 0px -20px;
  }
}
@media (min-width: 1250px) {
  .landing-img {
    background-position: 0px -50px;
  }
}
@media (min-width: 1400px) {
  .landing-img {
    background-position: 6px -90px;
  }
}

.in-put {
  @apply bg-transparent text-[#272829] dark:text-[#eee] border-b-[1px] border-[#8294c4] focus:outline-none focus:border-[#8294c4] dark:border-[#8294c4] dark:focus:border-[#8294c4] placeholder:opacity-60 placeholder:text-[#272829] dark:placeholder:text-[#eee];
}
.form-p {
  @apply w-11/12 lg:w-9/12 xl:w-6/12;
}
.PhoneInputInput {
  @apply border-0 bg-transparent focus:outline-none placeholder:opacity-60 placeholder:text-[#272829] dark:placeholder:text-[#eee] text-[#272829] dark:text-[#eee];
  }
.contact_label svg {
  @apply absolute right-1 top-1/2 -translate-y-1/2 z-20 duration-700;
}
.contact-input:checked + .contact_label .email,
.contact_label .phone {
  @apply fill-[#272829] dark:fill-[#eee];
}
.contact_label .email,
.contact-input:checked + .contact_label .phone {
  fill: transparent;
}
.contact-input:checked + .contact_label .phone,
.contact-input:checked + .contact_label .email {
  @apply rotate-[360deg];
}
.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}